<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <title>index</title>
</head>

<body>
    <a href="{% url 'gate:gone' %}">离</a>
    <div align="center">
        <a href="{% url 'passwords:passwd' %}">
            <img src="{% static 'gate/img/lock.jpg' %}" height="100px" width="100px">
        </a>
        <br/>
        <a href="{% url 'pensieve:list' %}">
            <img src="{% static 'gate/img/pensieve.gif' %}">
        </a>
    </div>
</body>
</html>
