<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <title>pensieve</title>
</head>

<body>
    <a href="{% url 'pensieve:list' %}">退</a>
    <div align="center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="ok">
        </form>
    </div>
</body>

</html>