<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <title>Title</title>
</head>
<body>
    <a href="{% url 'pensieve:list' %}">退</a>
    <div align="center">
        <form method="post">
            {% csrf_token %}
            <p>确定要删除{{ object }}吗？</p>
            <br/>
            <input type="submit" value="Confirm">
        </form>
    </div>
</body>
</html>