<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pensieve/css/mybox.css' %}"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <title>update</title>
</head>

<body>
    <div>
        <a href="{% url 'pensieve:list' %}"><h1>Pensieve</h1></a>
        <form method="post">
            {% csrf_token %}
            <div class="titleBox">
                {{ form.title }}
            </div>
            <div class="contentBox">
                {{ form.content }}
            </div>
            <input class="btn" type="submit" value="改">
        </form>
    </div>
</body>
</html>