<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <style type="text/css">
        .container .content {
	        background-image: url({{ theWall }});
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'gate/css/gate.css' %}"/>
    <link rel="shortcut icon" href="{% static 'gate/img/favicon.ico' %}"/>
    <title>Gate</title>
</head>

<body>
    <div class="container">
        <div class="content" id="content">
            <div class="box">
                <a href="{% url 'gate:check_in'%}"><h1>Gate</h1></a>
                <form method="post">
                    {% if message %}
                        <div class="warning">{{ message }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="inputBox">
                        <i class="demo-icon">&#xe801;</i>
                        {{ tempGateForm.nameGForm }}
                    </div>
                    <div class="inputBox">
                        <i class="demo-icon">&#xe800;</i>
                        {{ tempGateForm.passGForm }}
                    </div>
                    <input class="btn" type="submit" value="开">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function() {
            var width, height, largeHeader;
            width = window.innerWidth;
            height = window.innerHeight;
            content = document.getElementById('content');
            content.style.height = height+'px';
        })();
    </script>
</body>
</html>
