
body {
    margin-top: 1.6em;
    background-color: #ffffff;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}
a {
    position: relative;
    left: 42%;
    width: 200px;
    padding-left: 1em;
    display: block;
}
h1 {
    color: black;
    font-size: 36px;
    font-family: Arial, sans-serif;
}

.titleBox {
    width: 360px;
	height: 46px;
	padding: 0 5px;
	margin-bottom: 30px;
	border-radius: 50px;
	position: relative;
	top: 50%;
	left: 37%;
	border: black 2px solid !important;
}
.titleTextBox {
	width: 220px;
	height: 46px;
	outline: none;
	display: inline-block;
	font: 16px "microsoft yahei", Arial,"Microsoft jhengHei";
    position: absolute;
    left: 2.8em;
	border: none;
	background: none;
	line-height: 46px;
	color: black !important;
}

.contentBox {
    width: 720px;
    height: 360px;
	padding: 0 5px;
	margin-bottom: 30px;
	border-radius: 50px;
	position: relative;
	top: 50%;
	left: 24%;
	border: black 2px solid !important;
}
.contentTextBox {
	width: 645px;
	height: 360px;
	outline: none;
	display: inline-block;
	font: 16px "microsoft yahei", Arial,"Microsoft jhengHei";
    position: absolute;
    left: 2.8em;
	border: none;
	background: none;
	line-height: 46px;
	color: black !important;
	resize: none;
}

.btn {
    position: absolute;
    left: 49%;
    background-color: transparent;
    width: 50px;
	height: 50px;
	border-radius: 50px;
	border: black 2px solid !important;
	color: black;
}