
body {
    margin-top: 4.8em;
    background-color: #ffffff;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}
a {
    position: relative;
    left: 42%;
    width: 200px;
    padding-left: 1em;
    display: block;
}
h1 {
    color: black;
    font-size: 36px;
    font-family: Arial, sans-serif;
}

.inputBox {
    width: 300px;
	height: 46px;
	padding: 0 5px;
	margin-bottom: 30px;
	border-radius: 50px;
	position: relative;
	top: 50%;
	left: 38%;
	border: black 2px solid !important;
}
.textBox {
	width: 220px;
	height: 46px;
	outline: none;
	display: inline-block;
	font: 16px "microsoft yahei", Arial,"Microsoft jhengHei";
    position: absolute;
    left: 2.8em;
	border: none;
	background: none;
	line-height: 46px;
	color: black !important;
}
::-webkit-input-placeholder {
    color: black;
    opacity: 0.7;
}
::-moz-placeholder {
    color: black;
    opacity: 0.7;
}

.checkBox {
    position: relative;
    left: 45%;
    width: 200px;
    height: 50px;
}

.btn1 {
    position: absolute;
    left: 47%;
    background-color: transparent;
    width: 50px;
	height: 50px;
	border-radius: 50px;
	border: black 2px solid !important;
	color: black;
}

#cp {
    position: relative;
    font-color: black;
    font-size: 16px;
    width: 333px;
    border: None;
}

.btn2 {
    position: absolute;
    left: 47%;
    background-color: transparent;
    width: 50px;
	height: 50px;
	border-radius: 50px;
	border: black 2px solid !important;
	color: black;
}
